.title {
  font-size: 48px;
}

.result {
  font-size: 64px;
  color: green;
}

form {
  width: 100%;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

