:root {
  --fontsize-heading: 24px;
  --fontsize-paragraph1: 14px;
  --fontsize-paragraph2: 12px;

  --color-black: #343a40;
  --color-white: #ffffff;
  --color-warning: #fa5252;
  --color-success: green;
  --color-lightblue: rgb(165, 213, 249);
  --color-lightgrey: rgb(241, 245, 248);
}

/* CSS Reset */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-lightgrey)
}
form, 
fieldset {
  margin: 0;
  padding: 0;
}
input, 
button,
fieldset {
  border: none;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-size: var(--fontsize-paragraph2);
}
p {
  margin: 0;
}

/* Style elements */
form {
  margin: auto;
  margin-top: 56px;
  padding: 32px;
  width: 600px;
  height: 500px;
  background-color: var(--color-white);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-sizing: border-box;
}
h1 {
  height: 40px;
  text-align: center;
  color: var(--color-black);
  font-size: var(--fontsize-heading);
}
fieldset {
  width: 100%;
}
.capitalize {
  text-transform: capitalize;
}
.message_alert {
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: var(--fontsize-paragraph1);
}
.warning {
  color: var(--color-white);
  background-color: var(--color-warning);
}
.success {
  color: var(--color-white);
  background-color: var(--color-success);
}


.search {
  width: 100%;
  height: 32px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.search input {
  padding: 4px 16px;
  width: 80%;
  border: 2px solid transparent;
  background-color: rgb(241, 245, 248);
  font-size: var(--fontsize-paragraph1);
}
.search button {
  width: 20%;
  font-weight: 700;
  font-size: var(--fontsize-paragraph2);
  background-color: var(--color-lightblue);
}
.searchResult {
  min-height: calc(100% - 145px);
  height: calc(100% - 145px);
}
.searchResult ul {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  overflow-y: auto;
  /* scrollbar-gutter: stable; */
}
.searchResult li {
  width: 100%;
  height: 32px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--color-black);
  font-size: var(--fontsize-paragraph2);
}
.searchResult li:hover {
  background-color: rgba(0,0,0,0.1);
}
.searchResult li span {
  margin-right: auto;
  padding-left: 16px;
  font-size: var(--fontsize-paragraph2);
}
.message_clear {
  height: 32px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.message_clear button {
  color: var(--color-warning);
}
